div.checklist {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;


    @media (max-width: 820px)  {
        margin-left: -0.6em !important; 
        margin-right: -0.6em !important;
    }

    ol {
        margin-left: 1.5em !important;
        margin-bottom: 1.5em !important;

        li {
            cursor: pointer;
            margin-top: 0.5em;
            margin-bottom: 1em;
            line-height: 1.5em;
            text-decoration-color: var(--main-color);
            transition-duration: 200ms;
            
            &:hover {
                background-color: var(--main-color-light);
            }

            &.checked {
                opacity: 0.7;
                text-decoration: line-through;
                text-decoration-color: var(--main-color);
                text-decoration-thickness: 3px;
                transition-duration: 200ms;
                &::marker { content: '\2713   ' }    
            }
            
            a, em, span {
                text-decoration-thickness: 3px;
                text-decoration-color: var(--main-color);
            }

        }
    }

    &__pourcentage {
        font-size: 0.6em;
        width: 2.5em;
    }

    &__progressbar {
        width: calc(100% - 1.8em);
        height: 4px;
        margin-top: 0.2em;
        margin-bottom: 1em;
        background-image: linear-gradient(0deg, var(--main-color), var(--main-color));
        background-color: var(--main-color-light-alpha3);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 0% 4px;
        transition-duration: 250ms;
    }

}

body.dark {
    div.checklist {
        ol li:hover { background-color: var(--main-color-dark); }
        &__progressbar { background-color: var(--main-color-dark-alpha3); }
    }

}
