.color {
    display: inline-block;
    position: relative;
    width: 140px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-right: 10px;
    margin-bottom: 25px;
    transition-duration: 100ms;    
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px 0px 5px var(--color-black-alpha7);
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9em;
    
    &.spacer {
        margin-left: 25px;
    }
    
    &:hover {
        transform: scale(1.08);
    }
}

body.dark .color {
    box-shadow: 0px 0px 5px var(--color-white-alpha7);
}