@use 'sass:color';
@use '../partials/variables';

$back_light: lighten(variables.$color_blue, 48%);
$gradient_light: lighten(variables.$color_blue, 20%);
$label_light: lighten(variables.$color_blue, 30%);
$grey_light: color.adjust(variables.$color_black, $alpha: -0.3);

$back_dark: color.adjust(variables.$color_blue, $blackness: 60%);
$gradient_dark: color.adjust(variables.$color_blue, $blackness: 40%);
$label_dark: color.adjust(variables.$color_blue, $whiteness: 30%);
$grey_dark: color.adjust(variables.$color_white, $alpha: -0.3);

  
a.exercice {
    display: block;
    background-image: linear-gradient(0deg, #{$gradient_light}, 1%, #{$back_light});
    background-color: #{$back_light};
    margin-bottom: 25px;
    color: #{$grey_light};
    margin-left: -25px;
    margin-right: -25px;

    @media (min-width: 480px)  {
        height: 180px;
    }

    &:hover {
        color: #{variables.$color_black};
    }

    div.exercice-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        @media (min-width: 480px)  {
            flex-direction: row;
        }

        div.exercice-thumb {
            width: 100%;
            height: auto;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            aspect-ratio: 40/21;
            
            @media (min-width: 480px)  {
                aspect-ratio: 4/3;
                width: auto;
                height: 100%;
            }
        }

        div.exercice-abstract {
            flex-grow: 2;
            margin: 25px 25px 15px 25px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: top;
            overflow: hidden;

            @media (min-width: 480px)  {
                margin: 25px 25px 5px 25px;
            }

            em {
                background-color: #{$label_light};
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 6px;
                padding-right: 6px;
                border-radius: 4px;
                font-style: normal;
                color: #{variables.$color_black} !important;
                margin:  0 0 5px 0;

                font-size: 2.5vw;
                @media (min-width: 480px)  {
                    font-size: 12px;
                }
            }

            .exercice-title {
                line-height: 1;
                
                font-weight: bold;
                margin: 5px 0 3px 0;

                font-size: 6vw;
                @media (min-width: 480px)  {
                    font-size: 24px;
                }
            }

            .exercice-description {
                margin: 3px 0 0 0;
// background-color: red;
                font-size: 4vw;
                @media (min-width: 480px)  {
                    font-size: 14px;
                }
            }
        }
    }
}


body.dark {
    a.exercice {
        background-color: #{$back_dark};
        background-image: linear-gradient(0deg, #{$gradient_dark}, 20%, #{$back_dark});
        color: #{$grey_dark};
        &:hover { color: #{variables.$color_white}; }
        div.exercice-container div.exercice-abstract em {
            background-color: #{$label_dark};
            color: #{variables.$color_white} !important;
        }
    }
}