.infobubble {
    position: relative;
    padding: 1.5em;
    margin-bottom: 1.5em;
    margin-left: -25px;
    margin-right: -25px;
    line-height: 1.5em;

    background-color: var(--back);
    border-left: 4px solid var(--color);

    margin-top: 2.5em;

    &__bubble {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -25px;
        left: -25px;

        &::before {
            content: '';
            display: block;
            width: 36px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 60%;
            background-color: var(--back);
            border: 4px solid var(--color);
            box-shadow: 0px 0px 0px 8px var(--back);
        }

    }

    &.info {
        --color: var(--color-blue);
        --back: var(--color-blue-back-light);
        .infobubble__bubble::before {  
            background-size: 50%;  
            background-image: var(--icon-infobubble-info-black);
        }
    }

    &.warning {
        --color: var(--color-yellow);
        --back: var(--color-yellow-back-light);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-warning-black);
        }
    }

    &.alert {
        --color: var(--color-red);
        --back: var(--color-red-back-light);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-alert-black);
        }
    }

    &.bravo {
        --color: var(--color-purple);
        --back: var(--color-purple-back-light);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-bravo-black);
        }
    }

    &.thumbsup {
        --color: var(--color-green);
        --back: var(--color-green-back-light);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-thumbsup-black);
        }
    }

}


body.dark {
    .infobubble.info {
        --back: var(--color-blue-back-dark);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-info-white);
        }
    }

    .infobubble.warning {
        --back: var(--color-yellow-back-dark);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-warning-white);
        }
    }

    .infobubble.alert {
        --back: var(--color-red-back-dark);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-alert-white);
        }
    }

    .infobubble.bravo {
        --back: var(--color-purple-back-dark);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-bravo-white);
        }
    }

    .infobubble.thumbsup {
        --back: var(--color-green-back-dark);
        .infobubble__bubble::before {
            background-image: var(--icon-infobubble-thumbsup-white);
        }
    }

}

























#contents .infobubble {
    h2, h3, h4, h5, h6{
        margin-top: 0;
    }
}

@media only screen and (max-width: 830px) {
    .infobubble__bubble { display: none; }
}