.mediafile {
    display: flex;
    align-items: center;
    margin-left: -25px;
    margin-right: -25px;
    @media (max-width: 820px)  {
        margin-left: -10px;
        margin-right: -10px;
    }

    &.spacerr {
        margin-left: 25px;
    }

    &__icon {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: var(--color-black);
        background-size: 16px 16px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__text {
        display: inline-block;
        padding-left: 6px;
    }

    &__link {
        display: block;
        // margin-bottom: 25px;
        margin-left: -25px;
        margin-right: -25px;
        // @media (max-width: 820px)  {
        //     margin-left: -10px;
        //     margin-right: -10px;
        // }
        &.spacerr {
            margin-left: 25px;
        }

        // input {
        //     @media (max-width: 820px)  {
        //         font-size: 12px;
        //     }
        // }
    }

    &__spacer {
        display: block;
        margin-bottom: 25px;
    }

    &__link-text {
        margin-top: 4px;
        display: block;
        width: 100%;
        background-color: var(--color-code-light);
        color: var(--color-black-alpha3);
        font-size: 0.8em;
        padding: 8px;
        border: 0px;
        font-family: var(--font-monospace);
        outline: none;
    }

    &__linkcopied {
        font-size: 14px;
        margin-left: 10px;
        opacity: 0%;
        display: none;

        @media (min-width: 576px)  {
            line-height: 36px;
            display: block;
        }

    }

    &__download {
        transition-duration: 200ms;
        height: 22px;
        width: 22px;
        padding: 2px;
        text-align: center;
        vertical-align: center;
        border-radius: 50%;
        display:inline;
        background-color: var(--main-color-light);
        margin-left: 6px;
        
        & svg {
            margin: 2px;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--main-color);
        }

        &.copied {
            background-color: var(--color-green);
        }
    }

    &__chain {
        transition-duration: 200ms;
        height: 22px;
        width: 22px;
        padding: 2px;
        text-align: center;
        vertical-align: center;
        border-radius: 50%;
        display:inline;
        background-color: var(--main-color-light);
        margin-left: 6px;

        &:hover {
            cursor: pointer;
            transform: rotate(-180deg);
            transition-duration: 200ms;
            background-color: var(--main-color);
        }

        &.copied {
            background-color: var(--color-green);
            transform: rotate(-360deg);

            & + div {
                opacity: 100%;
                transition-duration: 200ms;
            }
        }
    }
}


body.dark {
    .mediafile {
        &__link-text {
            background-color: var(--color-code-dark);
            color: var(--color-white-alpha3);
        }
        
        &__download {
            background-color: var(--main-color-dark);
            &:hover { background-color: var(--main-color); }
            &.copied { background-color: var(--color-green); }
        }
        
        &__chain {
            background-color: var(--main-color-dark);
            &:hover { background-color: var(--main-color); }
            &.copied { background-color: var(--color-green); }
        }
    }

}