a.tool {
    display: block;
    background-image: linear-gradient(0deg, var(--main-color-gradient-light), 1%, var(--main-color-back-light));
    background-color: var(--main-color-back-light);
    margin-bottom: 25px;
    color: var(--color-black-alpha3);
    margin-left: -25px;
    margin-right: -25px;

    @media (min-width: 480px)  {
        height: 180px;
    }

    &:hover {
        color: var(--color-black);
    }

    div.tool-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        
        @media (min-width: 480px)  {
            flex-direction: row;
        }

        div.tool-thumb {
            width: 100%;
            height: auto;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            aspect-ratio: 40/21;
            
            @media (min-width: 480px)  {
                aspect-ratio: 4/3;
                width: auto;
                height: 100%;
            }
        }

        div.tool-abstract {
            flex-grow: 2;
            margin: 25px 25px 15px 25px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: top;
            overflow: hidden;

            @media (min-width: 480px)  {
                margin: 25px 25px 5px 25px;
            }

            em {
                background-color: var(--color-green-label-light);
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 6px;
                padding-right: 6px;
                border-radius: 4px;
                font-style: normal;
                color: var(--color-black) !important;
                margin:  0 0 5px 0;
                font-size: 2.5vw;

                @media (min-width: 480px)  {
                    font-size: 12px;
                }
            }

            .tool-title {
                line-height: 1;
                font-weight: bold;
                margin: 5px 0 3px 0;

                font-size: 6vw;
                @media (min-width: 480px)  {
                    font-size: 24px;
                }
            }

            .tool-description {
                margin: 3px 0 0 0;
                font-size: 4vw;
                @media (min-width: 480px)  {
                    font-size: 14px;
                }
            }
        }
    }
}


body.dark {
    a.tool {
        background-color: var(--main-color-back-dark);
        background-image: linear-gradient(0deg, var(--main-color-gradient-dark), 20%, var(--main-color-back-dark));
        color: var(--color-white-alpha3);
        &:hover { color: var(--color-white); }
        div.tool-container div.tool-abstract em {
            background-color: var(--color-green-label-dark);
            color: var(--color-white) !important;
        }
    }
}
