/*!

██████╗ ██╗ █████╗ ███╗   ███╗███████╗████████╗██████╗ ██╗ ██████╗██╗  ██╗
██╔══██╗██║██╔══██╗████╗ ████║██╔════╝╚══██╔══╝██╔══██╗██║██╔════╝██║ ██╔╝
██║  ██║██║███████║██╔████╔██║█████╗     ██║   ██████╔╝██║██║     █████╔╝ 
██║  ██║██║██╔══██║██║╚██╔╝██║██╔══╝     ██║   ██╔══██╗██║██║     ██╔═██╗ 
██████╔╝██║██║  ██║██║ ╚═╝ ██║███████╗   ██║   ██║  ██║██║╚██████╗██║  ██╗
╚═════╝ ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝ ╚═════╝╚═╝  ╚═╝

*/

$main_color: #4976bf;
$second_color: #e5a00d;

$color_white: #ffffff;
$color_black: #000000;

$color_blue: #2956d1;
$color_yellow: #e6bc00;
$color_red: #d31e1e;
$color_purple: #af20d3;
$color_green: #23d33b;

$font: 'Rubik';
$subhead_height: 200px;
$footer_height: 100px;
$article_padding: 40px;
